<div>
  <mat-toolbar>
    <button mat-icon-button aria-label="Cambiar de ejercicio" [matMenuTriggerFor]="exercises">
      <mat-icon>menu</mat-icon>
    </button>

    <h1>UT3: Batería de ejercicios</h1>

    <mat-menu #exercises="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="firstPart">Primera Parte</button>
      <button mat-menu-item [matMenuTriggerFor]="secondPart">Segunda Parte</button>
    </mat-menu>

    <mat-menu #firstPart="matMenu">
      <a mat-menu-item routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 1</a>
      <button mat-menu-item routerLink="/firstPart/exercise-2" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 2</button>
      <button mat-menu-item routerLink="/firstPart/exercise-3" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 3</button>
      <button mat-menu-item routerLink="/firstPart/exercise-4" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 4</button>
      <button mat-menu-item routerLink="/firstPart/exercise-5" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 5</button>
      <button mat-menu-item routerLink="/firstPart/exercise-6" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 6</button>
    </mat-menu>

    <mat-menu #secondPart="matMenu">
      <button mat-menu-item routerLink="/secondPart/exercise-1" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 1</button>
      <button mat-menu-item routerLink="/secondPart/exercise-2" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 2</button>
      <button mat-menu-item routerLink="/secondPart/exercise-3" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 3</button>
      <button mat-menu-item routerLink="/secondPart/exercise-4" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 4</button>
      <button mat-menu-item routerLink="/secondPart/exercise-5" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 5</button>
      <button mat-menu-item routerLink="/secondPart/exercise-6" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 6</button>
      <button mat-menu-item routerLink="/secondPart/exercise-7" routerLinkActive="active" ariaCurrentWhenActive="page">Ejercicio 7</button>
    </mat-menu>
  </mat-toolbar>
</div>

<div class="px-6 py-4">
  <router-outlet />
</div>
